:root {
	--leftImage: url('https://via.placeholder.com/200x75')
	--rightImage: url('https://via.placeholder.com/200x76')
}

.Header {
	z-index: 20;
}

div.BrandLogo {
	display: flex;
	z-index: 20;
}
img.BrandLogo {
	display: flex;
	z-index: 20;
}

div.NavBar {
	display: flex;
	justify-content: center;
	width: calc(100% - 200px);
	height: 100%;
	background-color: rebeccapurple;
	border-bottom: 2px solid red;
	z-index: 20;
}
img.RightLogo {
	align-items: flex-end;
	margin-left: auto;
	z-index: 20;
}

@media screen and (max-width: 820px)  {
	img.BrandLogo {
		width: 0px;
	}
}
